<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./styles/style.css">
    <title th:text="${reviewModel.artistName}">A review</title>
</head>
<body>

<header>
    <h1 th:text="${reviewModel.artistName}">A Review</h1>
</header>

<main>
    <ul>
        <img th:src="${reviewModel.imageUrl}" alt="Character Image">
        <p><a href="/reviews">Reviews</a></p>
        <li th:text="${reviewModel.albumTitle}"></li>
    </ul>

    <h2 th:text="${reviewModel.albumReview}"></h2>
</main>

<footer>
    <small>&copy My Soundtrack 2021</small>
</footer>

</body>
</html>